<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title><%= livro[0].titulo %></title>
    </head>
<body>

    <h1><%= livro[0].titulo %></h1>

    <table>
        
        <tr>
            <td>ID</td>
            <td>Título</td>
            
        </tr>
        <tr>
            
            <td><%= livro[0].id_livro %></td>
            <td><%= livro[0].titulo %></td>
            
            
        </tr>
    </table>

</body>
</html>